@{ ViewData["Title"] = "Adrešu reģistrs"; }


<table class="ui collapsing table">
    <thead>
        <tr>
            <td>Novadi un rep. nozīmes pilsētas</td>
            <td class="pilsetasClass">Pilsētas, pagasti</td>
            <td>Adreses veids</td>
            <td>Adreses statuss</td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                <div class="custom-select">
                    <select class="selection-filter" id="novadiID">
                        <option class="defaultOption" value=""> Izvēlies adm. vienību!</option>
                        @{ foreach (var obj in ViewBag.novadi)
                            {
                                <option value='@obj.adR_CD'>@obj.std</option>
                            } }
                    </select>
                </div>
            </td>


            <td id="ter3_rnd" class="pilsetasClass">
                <div class="custom-select">
                        <select class="selection-filter" id="pagastiID">
                            <option class="defaultOption" value="">Izvēlies pagastu!</option>
                        </select>
                </div>
            </td>

            <td>
                <div class="custom-select">
                    <select class="selection-filter" id="veidiID">
                        <option class="defaultOption" value="">Izvēlies veidu!</option>
                        @{
                            foreach (var obj in ViewBag.adrVeidi) {
                                <option value='@obj.kods'>@obj.nosaukums</option>
                            }
                         }
                    </select>
                </div>
            </td>

            <td>
                <div class="custom-select">
                    <select class="selection filter" id="statusiID">
                        <option class="defaultOption" value="">Izvēlies statusu!</option>
                        @{ foreach (var obj in ViewBag.statusi)
                            {
                                <option value='@obj.chaR3'>@obj.nosaukums</option>
                            } }
                    </select>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<table class="ui collapsing table">
    <thead>
        <tr>
            <td>Adreses nosaukuma daļa</td>
            <td>Meklēt pēc adreses ID</td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                <div class="ui input">
                    <input type="text" id="nosauk_dala" name="nosauk_dala" size="20" maxlength="20" value="">
                </div>
            </td>

            <td>
                <div class="ui input">
                    <input type="text" id="adr_ID" name="adr_ID" size="20" maxlength="9" value="">
                </div>
            </td>

        </tr>
    </tbody>
</table>

<br>
<br>

<div class="ui dropdown">
    Lapas iestatījumi
    <i class="dropdown icon"></i>
    <div class="menu">
        <div class="item">
            <i class="dropdown icon"></i>
            Lapušošana (pagination)
            <div class="menu">
                <div class="item">
                    <i class="dropdown icon"></i>
                    Elementu skaits lapā
                    <select class="ui menu " id="paginationElementCount">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option selected="selected" value="15">15</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                    </select>
                </div>

                @*<div class="item">
                    <i class="dropdown icon"></i>
                    Lapu navigācijas indeksa podziņu skaits
                    <select class="ui menu" id="paginationIndexBtnCount">
                        <option value="3">3</option>
                        <option selected="" value="5">5</option>
                        <option value="10">10</option>
                    </select>
                </div>*@
            </div>
        </div>
    </div>
</div>

<br>
<br>

<button type="button" id="atlasit" class="ui button">Parādīt rezultātus</button>

<button class="ui button" id="attir">Attīrīt</button>

<div id="objSkaits"><br></div>

<div id="dati">
    <table id="rezultatiTable" class="ui celled striped selectable table">
        <tbody id="rezultati">
        </tbody>
    </table>
    <div id="pagingButtons">
        <button class="ui button" id="firstPage">&lt;&lt;</button>
        <button class="ui button" id="prevPage">&lt;</button>
        <button class="ui button indexed" id="1" value="1">1</button>
        <button class="ui button indexed" id="2" value="2">2</button>
        <button class="ui button indexed" id="3" value="3">3</button>
        <button class="ui button indexed" id="4" value="4">4</button>
        <button class="ui button indexed" id="5" value="5">5</button>
        <button class="ui button" id="nextPage">&gt;</button>
        <button class="ui button" id="lastPage">&gt;&gt;</button>
    </div>
</div>

<div id="skatitPartialView">

</div>

<div id="loader" style="display: none">
    <br><br>
    <div class="ui active inline loader"></div>
    <br><br>
</div>

<script src="~/js/adreses.js"></script>